<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="./vendor/autoload.php">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
      <directory>./src/DependencyInjection</directory>
    </exclude>
    <report>
      <clover outputFile="./var/coverage/coverage.xml"/>
      <html outputDirectory="./var/coverage/report" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="MewesKTwigSpreadsheetBundle Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
